<div class="container loading" *ngIf="isLoading">
  <div class="contain-loading">
    <img src="assets/img/{{ isDark ? 'dark' : 'light' }}-load.gif" alt="" />
  </div>
</div>

<div class="container" *ngIf="!isLoading">
  <header>
    <div class="group-logo">
      <a href="http://stevelabs.io/services" target="_blank"
        ><img
          loading="lazy"
          src="assets/img/{{ isDark ? 'logo-color' : 'logo' }}.svg"
          alt="Logo Stevelabs"
          width="130"
        />
      </a>

      <div class="group-buttons">
        <button
          type="button"
          (click)="handleSetTheme(false)"
          [ngClass]="{ 'actived-mode': !isDark }"
        >
          <img
            src="assets/img/light.svg"
            alt="light-mode"
            title="Light"
            loading="lazy"
          />
        </button>
        <button
          type="button"
          (click)="handleSetTheme(true)"
          [ngClass]="{ 'actived-mode': isDark }"
        >
          <img
            src="assets/img/dark.svg"
            alt="dark-mode"
            title="Dark"
            loading="lazy"
          />
        </button>
      </div>
    </div>

    <div class="text-1">
      Tokenomics Calculator & Metrics for PinkSale LaunchPad
    </div>

    <nav>
      <button
        type="button"
        class="btn"
        [ngClass]="{ actived: stepTokenomics === 1 }"
        (click)="handleSetStepTokenomics(1)"
      >
        Presale
      </button>
      <button
        type="button"
        class="btn"
        [ngClass]="{ actived: stepTokenomics === 2 }"
        (click)="handleSetStepTokenomics(2)"
      >
        Presale WhiteList
      </button>
      <button
        type="button"
        class="btn"
        [ngClass]="{ actived: stepTokenomics === 3 }"
        (click)="handleSetStepTokenomics(3)"
      >
        Subscription
      </button>
      <button
        type="button"
        class="btn"
        [ngClass]="{ actived: stepTokenomics === 4 }"
        (click)="handleSetStepTokenomics(4)"
      >
        FairLaunch
      </button>
    </nav>
  </header>

  <!--desk-->
  <aside>
    <a href="http://stevelabs.io/services" target="_blank"
      ><img
        loading="lazy"
        src="assets/img/{{ isDark ? 'logo-color' : 'logo' }}.svg"
        alt="Logo Stevelabs"
        width="130"
      />
    </a>

    <div class="group-aside">
      <div class="text-1">
        Tokenomics Calculator & Metrics for PinkSale LaunchPad
      </div>

      <nav>
        <button
          type="button"
          class="btn"
          [ngClass]="{ actived: stepTokenomics === 1 }"
          (click)="handleSetStepTokenomics(1)"
        >
          Presale
          <app-popover
            [iconColor]="
              stepTokenomics === 1
                ? 'var(--color-button-actived)'
                : 'var(--black)'
            "
            >How to create PreSale -
            <a
              href="https://docs.pinksale.finance/launchpads/create-a-launchpad"
              target="_blank"
              >https://docs.pinksale.finance/launchpads/create-a-launchpad</a
            ></app-popover
          >
        </button>
        <button
          type="button"
          class="btn"
          [ngClass]="{ actived: stepTokenomics === 2 }"
          (click)="handleSetStepTokenomics(2)"
        >
          Presale WhiteList
          <app-popover
            [iconColor]="
              stepTokenomics === 2
                ? 'var(--color-button-actived)'
                : 'var(--black)'
            "
            >How to Configure WhiteList
            <a
              href="https://docs.pinksale.finance/launchpads/add-remove-whitelists"
              target="_blank"
              >https://docs.pinksale.finance/launchpads/add-remove-whitelists</a
            ></app-popover
          >
        </button>
        <button
          type="button"
          class="btn"
          [ngClass]="{ actived: stepTokenomics === 3 }"
          (click)="handleSetStepTokenomics(3)"
        >
          Subscription
          <app-popover
            [iconColor]="
              stepTokenomics === 3
                ? 'var(--color-button-actived)'
                : 'var(--black)'
            "
            >How to Create Subscription
            <a
              href="https://docs.pinksale.finance/subscription/create-a-subscription"
              target="_blank"
              >https://docs.pinksale.finance/subscription/create-a-subscription</a
            ></app-popover
          >
        </button>
        <button
          type="button"
          class="btn"
          [ngClass]="{ actived: stepTokenomics === 4 }"
          (click)="handleSetStepTokenomics(4)"
        >
          Fair Launch
          <app-popover
            [iconColor]="
              stepTokenomics === 4
                ? 'var(--color-button-actived)'
                : 'var(--black)'
            "
            >How to Create FairLaunch
            <a
              href="https://docs.pinksale.finance/fair-launch/create-a-fair-launch"
              target="_blank"
              >https://docs.pinksale.finance/fair-launch/create-a-fair-launch</a
            ></app-popover
          >
        </button>
      </nav>

      <a href="https://t.me/stevelabsaccelerator" target="_blank">
        <div class="help-desk">
          <p>Contact us on our Telegram if you need help!</p>
          <img
            src="assets/img/logos_telegram.svg"
            alt="@stevelabsaccelerator"
            title="@stevelabsaccelerator"
            srcset=""
            loading="lazy"
          />
        </div>
      </a>

      <a href="https://www.pinksale.finance/" target="_blank" class="logo-pink"
        ><img
          src="assets/img/pinklogo.svg"
          alt="PinkSale"
          title="PinkSale"
          width="170"
          loading="lazy"
      /></a>

      <footer>
        <div class="group-footer">
          <div class="group-buttons">
            <button
              type="button"
              (click)="handleSetTheme(false)"
              [ngClass]="{ 'actived-mode': !isDark }"
            >
              <img
                src="assets/img/light.svg"
                alt="light-mode"
                title="Light"
                loading="lazy"
              />
            </button>
            <button
              type="button"
              (click)="handleSetTheme(true)"
              [ngClass]="{ 'actived-mode': isDark }"
            >
              <img
                src="assets/img/dark.svg"
                alt="dark-mode"
                title="Dark"
                loading="lazy"
              />
            </button>
          </div>

          <a
            href="https://www.instagram.com/stevelabsaccelerator/"
            target="_blank"
            title="@stevelabsaccelerator"
            ><i
              class="fa fa-instagram"
              aria-hidden="true"
              style="color: var(--contrast); font-size: 1.7rem"
            ></i>
          </a>
        </div>

        <div class="by">
          Developed by
          <a
            href="https://www.linkedin.com/in/jesse-brisola-de-araujo/"
            target="_blank"
            style="color: var(--contrast)"
            >Jessé Brisola</a
          >
        </div>
      </footer>
    </div>
  </aside>

  <!--main-->
  <main>
    <app-presale *ngIf="stepTokenomics === 1"></app-presale>
    <app-presale-whiteList *ngIf="stepTokenomics === 2"></app-presale-whiteList>
    <app-subscription *ngIf="stepTokenomics === 3"></app-subscription>
    <app-fairlaunch *ngIf="stepTokenomics === 4"></app-fairlaunch>
  </main>

  <footer>
    <a href="https://www.pinksale.finance/" target="_blank"
      ><img
        src="assets/img/pinklogo.svg"
        alt=""
        srcset=""
        width="200"
        loading="lazy"
    /></a>

    <a href="https://t.me/stevelabsaccelerator" target="_blank">
      <div class="help-desk">
        <p>Contact us on our Telegram if you need help!</p>
        <img
          src="assets/img/logos_telegram.svg"
          alt="@stevelabsaccelerator"
          title="@stevelabsaccelerator"
          srcset=""
          loading="lazy"
        />
      </div>
    </a>

    <div class="by">
      Developed by
      <a
        href="https://www.linkedin.com/in/jesse-brisola-de-araujo/"
        target="_blank"
        style="color: var(--contrast)"
        >Jessé Brisola</a
      >
    </div>
  </footer>
</div>
