<div class="title">
  Presale
  <div class="title-yellow">Details</div>
</div>

<div class="content">
  <div class="group-inputs-views">
    <div class="group-input">
      <div class="input">
        <p>
          Total Supply<app-popover
            >Total circulating tokens for your project</app-popover
          >
        </p>
        <input
          OnlyNumbers
          type="text"
          inputmode="numeric"
          [(ngModel)]="totalSupply"
          placeholder="000.000.000"
          (blur)="handleCalcTotalTokensForPresale()"
          currencyMask
          [options]="{ precision: 0, decimal: '', align: 'left' }"
        />
      </div>
      <div class="input">
        <p>
          Hardcap
          <app-popover
            >Maximum limit of bnb filled to develop your project</app-popover
          >
        </p>
        <input
          OnlyNumbers
          type="text"
          inputmode="numeric"
          [(ngModel)]="hardcap"
          placeholder="0.000"
          (blur)="handleCalcTotalTokensForPresale()"
          currencyMask
          [options]="{ precision: 0, decimal: '', align: 'left' }"
        />
      </div>
      <div class="input">
        <p>
          Presale Price
          <app-popover
            >Token price in presale phase, 1 BNB = How many Token</app-popover
          >
        </p>
        <input
          OnlyNumbers
          type="text"
          inputmode="numeric"
          [(ngModel)]="presaleRate"
          placeholder="000.000.000"
          (blur)="handleCalcTotalTokensForPresale()"
          currencyMask
          [options]="{ precision: 0, decimal: '', align: 'left' }"
        />
      </div>
    </div>
    <div class="group-views">
      <div class="total">
        <p>Total Tokens for Presale</p>
        <div class="value">
          {{ totalTokensForPresale.toLocaleString("pt-BR") }}
        </div>
      </div>
      <div class="total">
        <p>SoftCap</p>
        <div class="value">
          {{ softCap.toLocaleString("pt-BR") }}
        </div>
      </div>
    </div>
  </div>
  <div class="group-inputs-views">
    <div class="group-input">
      <div class="input">
        <p>
          Listing Price
          <app-popover
            >Token price at launch, 1 BNB = How many Token</app-popover
          >
        </p>
        <input
          type="text"
          OnlyNumbers
          inputmode="numeric"
          [(ngModel)]="listingRate"
          placeholder="000.000.000"
          (input)="handleCalcTotalTokensForLiquidity()"
          currencyMask
          [options]="{ precision: 0, decimal: '', align: 'left' }"
        />
      </div>
      <div class="input-checkbox">
        <input
          type="checkbox"
          id="safuContract"
          [(ngModel)]="safuContract"
          (click)="handleSelectSafuContract()"
        />
        <p for="safuContract">
          Safu Contract
          <app-popover
            >Criteria of SAFU Project -
            <a
              href="https://docs.pinksale.finance/important/safu-contract#safu-developers"
              target="_blank"
              >https://docs.pinksale.finance/important/safu-contract#safu-developers</a
            ></app-popover
          >
        </p>
      </div>
      <div class="input">
        <p>
          Liquidity Percent
          <app-popover
            >Percentage of Bnb's filled that will be added to
            liquidity</app-popover
          >
        </p>
        <input
          type="text"
          OnlyNumbers
          inputmode="numeric"
          [(ngModel)]="liquidityPercentageOnPancake"
          placeholder="00"
          (blur)="handleCalcTotalTokensForLiquidity()"
          currencyMask
          [options]="{ precision: 0, decimal: '', align: 'left' }"
        />
      </div>
    </div>
    <div class="group-views">
      <div class="total">
        <p>Total Tokens for Liquidity</p>
        <div class="value">
          {{ totalTokensForLiquidity.toLocaleString("pt-BR") }}
        </div>
      </div>
      <div class="total">
        <p>Token fee</p>
        <div class="value">{{ tokenFee.toLocaleString("pt-BR") }}</div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="group-total-need">
    <img src="assets/img/token.svg" alt="" />

    <div class="total-need">
      Total tokens needed to create a PinkSale pool

      <div class="value-total-need">
        {{ totalTokensNeeded.toLocaleString("pt-BR") }}
      </div>
    </div>
  </div>
</div>

<div class="group-content">
  <div class="content">
    <div class="group-inputs-views">
      <div class="group-views">
        <div class="total">
          <p>Check if it works or not</p>
          <div class="value-text" [ngClass]="isWork > 0 ? 'yes' : 'no'">
            {{ isWork > 0 ? "It Works" : "This doesnt work..." }}
          </div>
        </div>
        <div class="total">
          <p>You will use how many % of the total supply</p>
          <div class="value">
            {{ youWillUseHowManyTotalSupply | number : "1.4-4" }}%
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="group-inputs-views">
      <div class="group-views">
        <div class="total">
          <p>Total BNB you'll get to your owner wallet</p>
          <div class="value">{{ totalBnbOwnerWallet | number : "1.4-4" }}</div>
        </div>
        <div class="total">
          <p>Total BNB will be listed on PancakeSwap</p>
          <div class="value">{{ totalBnbPancakeSwap | number : "1.4-4" }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="title" style="margin-top: 10px">
  Tokenomics
  <div class="title-yellow">Metrics</div>
</div>

<div class="group-content">
  <div>
    <div class="content">
      <div class="group-new-tokenomics">
        <div class="input">
          <p>Name</p>
          <input
            type="text"
            [(ngModel)]="nameTokenomics"
            placeholder="Name Tokenomics"
          />
        </div>
        <div class="input">
          <p>Value %</p>
          <input
            currencyMask
            type="text"
            inputmode="numeric"
            [(ngModel)]="valueTokenomics"
            placeholder="0.0000"
          />
        </div>
        <button
          type="button"
          class="btn-add"
          [ngClass]="{
            disabled:
              !nameTokenomics || !valueTokenomics || valueTokenomics === 0
          }"
          (click)="handleSetNewTokenomics(nameTokenomics, valueTokenomics)"
          [disabled]="
            !nameTokenomics || !valueTokenomics || valueTokenomics === 0
          "
        >
          <img src="assets/img/more.svg" alt="" srcset="" />
        </button>
      </div>
    </div>

    <div class="list-tokenomics" *ngFor="let item of listTokenomics">
      <div
        class="color"
        style="height: 20px; width: 20px"
        [style.backgroundColor]="item.Color"
      ></div>
      <div class="name">{{ item.Name }}</div>
      <div class="value" *ngIf="!item.IsEditable">
        {{ item.Value | number : "1.4-4" }}%
      </div>
      <div class="value" *ngIf="item.IsEditable">
        <div class="input">
          <input
            currencyMask
            type="text"
            inputmode="numeric"
            [(ngModel)]="item.Value"
            (blur)="handleSetValue(item, item.Value)"
            placeholder="0.0000"
            [disabled]="
              !liquidityPercentageOnPancake ||
              liquidityPercentageOnPancake === 0
            "
          />
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="group-chart">
      In % of total supply
      <div id="chartTotalSupplyPercentage" style="margin: 0 auto"></div>
    </div>
  </div>

  <div class="content">
    <div class="group-chart">
      In Token
      <div id="chartInToken" style="margin: 0 auto"></div>
    </div>
  </div>
</div>
