:root {
  --white: #fcfcfc;
  --black: #111111;
  --gray-content: #f1f1f1;
  --gray: #dfdfdf;
  --yellow: #ffa100;
  --green: #2c7021;
  --red: #b6413d;
  --pink: #f95192;
  --pink-2: #fdeaf1;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--black);

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: var(--gray);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--yellow);
  }
}

body {
  background: var(--white);
  overflow: hidden;
}

input {
  border: none;
  border-bottom: 1px solid var(--black);
  background: none;
  padding: 5px;

  &:disabled {
    cursor: not-allowed;
    opacity: 1;
  }
}

.input-checkbox {
  display: flex;
  gap: 10px;
  margin: 0 30px;
  align-items: center;

  p {
    font-size: 0.8rem;
  }
}

button {
  background: var(--gray);
  border: none;
  cursor: pointer;
  transition: filter 400ms;
  width: 220px;
  height: 52px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  img {
    width: 20px;
  }

  &.actived {
    background: var(--pink-2);
    color: var(--pink);
  }

  &:hover {
    filter: brightness(0.8);
  }
}

.container {
  display: flex;
  gap: 30px;
}

aside {
  padding: 30px 0 30px 30px;
}

main {
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding: 30px 20px 30px 0;

  .title {
    font-size: 1.3rem;
    display: flex;
    gap: 5px;
    font-weight: 600;

    .title-yellow {
      font-size: 1.3rem;
      color: var(--pink);
    }
  }

  .group-content {
    display: flex;
    gap: 10px;
  }

  .input {
    p {
      font-size: 0.8rem;
      margin-bottom: 5px;
    }
  }

  .content {
    background: var(--gray-content);
    padding: 20px;
    border-radius: 8px;
    margin: 10px 0;
    width: 100%;

    .group-inputs-views {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      gap: 50px;

      .group-input {
        display: flex;
        gap: 10px;
      }

      .group-views {
        display: flex;
        flex-direction: row;
        gap: 20px;

        .total {
          p {
            font-size: 0.8rem;
            margin-bottom: 5px;
          }
          .value {
            font-size: 1.2rem;
            font-weight: 600;
          }

          .value-text {
            font-size: 1.2rem;
            font-weight: 600;

            &.yes {
              color: var(--green);
            }

            &.no {
              color: var(--red);
            }
          }
        }
      }
    }

    ///
    .group-total-need {
      display: flex;
      align-items: center;
      position: relative;
      justify-content: flex-end;
      margin-right: 100px;

      img {
        position: absolute;
        left: 5px;
        width: 80px;
      }

      .total-need {
        display: flex;
        gap: 20px;
        align-items: flex-end;

        .value-total-need {
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
    }

    ///
    .group-new-tokenomics {
      display: flex;
      gap: 10px;
      align-items: flex-end;

      .input {
        input {
          width: 100px !important;
        }
      }

      .btn-add {
        background: var(--black);
        width: 30px;
        height: 30px;

        img {
          width: 10px;
        }

        &.disabled {
          background: var(--gray);
          cursor: not-allowed;
          filter: none;
        }
      }
    }

    .group-chart {
      font-size: 0.8rem;
      text-align: center;
    }
  }

  .list-tokenomics {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray);
    padding: 4px;
    font-size: 0.8rem;
    gap: 5px;
    align-items: center;

    .color {
      width: 10%;
    }

    .name {
      width: 60%;
    }

    .value {
      width: 30%;
      text-align: end;

      input {
        width: 100% !important;
      }
    }

    &:last-child {
      border: none;
    }
  }
}
