:root {
  --white: #efefef;
  --black: #111111;
  --gray-content: #e9e8e8;
  --gray: #d5d5d5;
  --yellow: #ffa100;
  --green: #2c7021;
  --red: #b6413d;
  --contrast: #f95192;
  --color-button-actived: #971044;
  --button-actived: #edc4d3;
  --backimg: url(assets/img/fundo-light.svg);
}
.dark-mode:root {
  --white: #121212;
  --black: #adadad;
  --gray-content: #0c0c0c;
  --gray: #1e1e1e;
  --yellow: #ffa100;
  --green: #2c7021;
  --red: #b6413d;
  --contrast: #ffa100;
  --color-button-actived: #1e1e1e;
  --button-actived: #ffa100;
  --backimg: url(assets/img/fundo-dark.svg);
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--black);

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: var(--gray);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--contrast);
  }
}

body {
  background: var(--white);
  overflow: hidden;
}

input {
  border: none;
  border-bottom: 1px solid var(--black);
  background: none;
  padding: 8px 5px;
  font-size: 0.9rem;

  &:disabled {
    cursor: not-allowed;
    opacity: 1;
  }
}

.input-checkbox {
  display: flex;
  gap: 10px;
  margin: 0 30px;
  align-items: center;

  p {
    font-size: 0.8rem;
  }
}

button {
  background: var(--gray);
  border: none;
  cursor: pointer;
  transition: filter 400ms;
  width: 220px;
  height: 52px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 25px;
  }

  &.actived {
    background: var(--button-actived);
    color: var(--color-button-actived);
  }

  &:hover {
    filter: brightness(0.8);
  }
}

.container_main {
  background-color: var(--white);
  background-image: var(--backimg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;
  padding: 20px;
  position: absolute;
  top: -99999px;

  .content {
    opacity: 0.7 !important;
  }
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.group-footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.3rem;
  display: flex;
  gap: 5px;
  font-weight: 600;

  .title-yellow {
    font-size: 1.3rem;
    color: var(--contrast);
  }
}

main {
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding: 20px;

  .group-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .group-buttons-title {
      display: flex;
      gap: 10px;

      button {
        width: auto !important;
        padding: 10px;
        font-size: 0.7rem !important;
      }
    }
  }

  .group-content {
    display: flex;
    gap: 10px;
  }

  .input {
    p {
      font-size: 0.8rem;
      margin-bottom: 5px;
    }
  }

  .content {
    background: var(--gray-content);
    padding: 20px;
    border-radius: 8px;
    margin: 10px 0;
    width: 100%;

    .group-inputs-views {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      gap: 50px;

      .group-input {
        display: flex;
        gap: 10px;

        .group-input-checkbox {
          display: flex;
        }
      }

      .group-views {
        display: flex;
        flex-direction: row;
        gap: 20px;

        .total {
          p {
            font-size: 0.8rem;
            margin-bottom: 5px;
          }
          .value {
            font-size: 1.1rem;
            font-weight: 600;
          }

          .value-text {
            font-size: 1.1rem;
            font-weight: 600;

            &.yes {
              color: var(--green);
            }

            &.no {
              color: var(--red);
            }
          }
        }
      }
    }

    ///
    .group-total-need {
      display: flex;
      align-items: center;
      position: relative;
      justify-content: flex-end;
      margin-right: 100px;

      img {
        position: absolute;
        left: 5px;
        width: 80px;
      }

      .total-need {
        display: flex;
        gap: 10px;
        align-items: center;
        font-size: 0.9rem;

        .value-total-need {
          font-size: 1.1rem;
          font-weight: 600;
        }
      }
    }

    ///
    .group-new-tokenomics {
      display: flex;
      gap: 10px;
      align-items: flex-end;

      .input {
        input {
          width: 100px;
        }
      }

      .btn-add {
        background: var(--black);
        width: 30px;
        height: 30px;

        img {
          width: 10px;
        }

        &.disabled {
          background: var(--gray);
          cursor: not-allowed;
          filter: none;
        }
      }
    }

    .group-chart {
      font-size: 0.8rem;
      text-align: center;
    }
  }

  .list-tokenomics {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray);
    padding: 4px;
    font-size: 0.8rem;
    gap: 5px;
    align-items: center;

    .color {
      width: 10%;
    }

    .name {
      width: 60%;
    }

    .value {
      width: 30%;
      text-align: end;

      input {
        width: 100% !important;
      }
    }

    &:last-child {
      border: none;
    }
  }
}

.name-pie {
  font-size: 0.6rem !important;
  stroke-width: 1px;
  font-weight: 500;
}

.value-pie {
  font-size: 0.8rem !important;
  stroke-width: 1px !important;
}

.value-chart {
  color: var(--contrast);
  fill: var(--contrast);
  font-weight: 500;
}

.highcharts-text-outline {
  display: none;
}

@media (max-width: 1204px) {
  body {
    overflow: auto;
  }

  input {
    width: 100%;
  }

  button {
    &:hover {
      filter: none;
    }
  }

  main {
    padding: 20px 15px;
    overflow: hidden;
    height: initial !important;

    .group-inputs-views {
      flex-direction: column;
      gap: 20px !important;

      .group-input {
        flex-direction: column;

        .group-input-checkbox {
          .input-checkbox {
            margin: 0 30px 0 0;
          }
        }
      }

      .group-views {
        margin: 30px 0;
      }
    }

    .group-total-need {
      img {
        display: none;
      }
    }

    .group-content {
      flex-direction: column;
      gap: 0;

      .group-views {
        flex-direction: column !important;
        gap: 20px !important;
      }
    }

    .group-new-tokenomics {
      align-items: initial !important;
      flex-direction: column;

      .input {
        input {
          width: 100% !important;
        }
      }
    }
  }
}
